.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 87vh;
    margin: 0 auto;
    background-color: #f8f9fd;
  }

.login_forms{
    background-color: white;
    padding: 1.5rem;
    cursor: pointer;
    width: 32%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0 rgb(94, 94, 94);
}

  @media only screen and (max-width: 900px) and (min-width: 700px)  {
    .login_forms{
          width: 45%;
      }
  }
  @media only screen and (max-width: 699px) and (min-width: 500px)  {
    .login_forms{
        width: 55%;
    }
}
@media only screen and (max-width: 499px) and (min-width: 280px)  {
    .login_forms{
        width: 75%;
    }
}
  .forgot_password{
      text-align: center;
  }  
  .button-container {
    display: flex;
    justify-content: center;
  }
  .Login_button{
      width: 80%;
      height: 2.5rem;
      border: none;
      border-radius: 15px;
      margin-top: 0.7rem;
      padding: 0.3rem 1rem;
      font-size: 1.2rem;
      color: white;
      background-color: #2691d9;
  }
  .Login_button:hover{
    transform: scale(1.02);
    transition: 0.5s;
  }
  .Homepage_button{
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 15px;
    margin-top: 0.7rem;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background-color: #606060e0;
  }
  .Homepage_button:hover{
    transform: scale(1.02);
    transition: 0.5s;
  }
  .Homepage_a{
    color: white;
    text-decoration: none;
  }
  .Homepage_a:hover{
    color: white;
  }
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
      color: #606060e0;
      text-align: center;
      font-weight: bold;
    font-size: 25px;
    margin-bottom: 1rem;
  }
  
  /* Login Form Input style */
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 35px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    margin: -2px 0;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: 20px 0 10px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  .signup_link{
    margin: 20px 0 5px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #868686;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }
  
  .success_form{
      height: 10rem;
  }
  .success_title{
text-align: center;
margin-top: 1rem;
font-size: 1.2rem;
  }